.container {
  color: #23232e;
  margin-top: 4rem;
  font-size: 18px;
  margin-bottom: 7rem;
}
.container b {
  font-weight: 700;
}
.title {
  font-size: 5rem;
  color: #6c5ce7;
}
.socialMedia {
  margin-top: 2rem;
  color: #6c5ce7;
  font-size: 4rem;
  display: flex;
}

.socialMediaLink {
  height: 2.2rem;
  width: 3rem;
  margin-right: 0.8rem;
  transition: all ease-in-out 400ms;
}

.socialMediaLink svg {
  width: 100%;
  height: 100%;
}

.socialMediaLink:hover {
  color: #8474ee;
  transform: scale(1.1, 1.1);
}


@media only screen and (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }
}